<ng-container *ngIf="startGame"
  ><div class="finish">
    <h1>choice the number</h1>
    <h1>of words in the game</h1>
    <div class="slidecontainer">
      <input
        type="range"
        min="5"
        max="20"
        [(ngModel)]="valueSlider"
        class="slider"
        id="myRange"
        step="5"
      />
    </div>
    <button (click)="onStartGame()">
      <p>play with</p>
      <h1>{{ valueSlider }}</h1>
      <p>words</p>
    </button>
  </div></ng-container
>

<ng-container *ngIf="finishGame"
  ><div class="finish">
    <h1>congratulations!</h1>
    <h1>you know all the words</h1>
    <button (click)="onNextGame()">next game</button>
  </div></ng-container
>

<div class="wrapp">
  <header><h3>learning english your way</h3></header>
  <main>
    <div class="game">
      <div class="question">
        <h2>{{ definition }}</h2>
      </div>
      <div class="answer">
        <div class="word">
          <input placeholder="What is the word?" [(ngModel)]="word" />
          <span [ngStyle]="{ color: activeEasyTop ? 'green' : 'red' }">
            {{ preferSelectWord }}
          </span>
        </div>
        <div class="buttons">
          <button
            [disabled]="!(word.length > 0)"
            (click)="checkAnswer()"
            [ngStyle]="{ color: word.length > 0 ? 'white' : 'grey' }"
          >
            Check an answer
          </button>
          <button [disabled]="!disabledButton" (click)="drawTheWord()">
            Next question
          </button>
        </div>
      </div>
    </div>
    <div class="boxes">
      <div class="one">
        <app-box [isActiveTop]="activeEasyTop"></app-box>
        <button
          [disabled]="disabledBoxButton"
          [ngStyle]="{ color: disabledBoxButton ? 'grey' : 'white' }"
          [ngClass]="moveEasyButton ? 'moveButton' : 'disable'"
          (click)="onAddPoint('easy')"
        >
          easy {{ easyNumber }} / {{ total }}
        </button>
      </div>
      <div class="three">
        <app-box [isActiveTop]="activeDifficultTop"></app-box>
        <button
          [disabled]="disabledBoxButton"
          [ngStyle]="{ color: disabledBoxButton ? 'grey' : 'white' }"
          [ngClass]="moveDifficultButton ? 'moveButton' : 'disable'"
          (click)="onAddPoint('difficult')"
        >
          difficult
        </button>
      </div>
    </div>
  </main>
</div>
<section>
  <app-example></app-example>
</section>
